.error-404 {
	padding: var(--header-height);

	@include respond-to($medium, max) {
		padding: 80px 0;
	}

	.page-header {
		text-align: center;
	}
}

.no-rsult-image {
	display: flex;
	max-width: 400px;
	margin: 0 auto;
}

.not-found {

	.page-content {
		margin-bottom: 40px;
	}
}
