//stylelint-disable all
body:not(.main):not(.site-main) .blog-archive-hero {
	padding-top: var(--header-height);
}

.blog-archive-hero {

	.banner-columns {
		display: grid;
		grid-template-columns: 60% 40%;
		max-width: var(--wp--style--global--wide-size);
		background: var(--wp--preset--color--primary-light);
		margin: 0 auto;
		color: var(--wp--preset--color--white);

		@include respond-to($medium, max) {
			display: flex;
			flex-direction: column;
		}
	}

	.banner-column {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.blog-banner-content {
		padding: clamp(2.5rem, 1.384rem + 2.976vw, 4.063rem);
	}

	p {
		font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
	}

	.wp-block-heading {
		margin: 0;
	}

	.wp-block-button__link {
		font-size: 1rem !important;
		padding: 1rem 2.125rem !important;
	}

	.wp-block-image {
		width: 100%;
		height: 100%;
		margin: 0;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

    @include respond-to($xlarge, max) {
        padding: 0 20px;
    }
}

.blog-archive-filter {
	.filter-category-lists {
		.active {
			.category-name {
				border: 1px solid var(--wp--preset--color--primary-light);
				color: var(--wp--preset--color--primary-light);
			}
		}
	}
}

.blog-archive-filter {
	max-width: var(--wp--style--global--wide-size);
	margin: 0 auto;

	.filter-category-lists {
		list-style-type: none;
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 0;
		margin: 40px 0;

		@include respond-to($small, max) {
			flex-direction:column;

			li {
				display: flex;
			}
		}

	}

	.category-name {
		font-size: 20px;
		padding: 8px 35px;
		text-decoration: none;
		border: 1px solid #003a3f;

		&:hover {
			background-color: var(--wp--preset--color--dark-blue);
			border: 1px solid var(--wp--preset--color--primary-light);
			color: var(--wp--preset--color--white) !important;
		}
	}

    @include respond-to($xlarge, max) {
        padding: 0 20px;
    }
}

.archive-posts {
	max-width: var(--wp--style--global--wide-size);
	margin: 0 auto;
	padding-bottom: 6.25rem;

    @include respond-to($xlarge, max) {
        padding: 0 20px;
		padding-bottom: 6.25rem;
    }
}

.archive-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 6.25rem;
    gap: 12px;

	.prev,
	.next {
		position: relative;
		font-size: 0;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			background-image: url('../images/paginate-arrow.svg');
            background-repeat: no-repeat;
			background-position: center center;
			background-size: 6px;
            content: '';
            @include square(24px);
		}
	}

	.next {
		&::before {
			transform: translateY(-50%) translateX(-50%) rotate(180deg);
		}
	}

	.first-page,
	.last-page {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--wp--preset--color--primary-light);
        text-decoration: none;
		font-size: 0;
		@include square(32px);

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			background-image: url('../images/paginate-all.svg');
            background-repeat: no-repeat;
			background-position: center center;
			background-size: 18px;
            content: '';
            @include square(24px);
		}
	}

	.last-page {
		&::before {
			transform: translateY(-50%) translateX(-50%) rotate(180deg);
		}
	}

	.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--wp--preset--color--primary-light);
        text-decoration: none;
		@include square(32px);

		&.current {
			border: 1px solid var(--wp--preset--color--primary-light);
			background: var(--wp--preset--color--primary-light);
			color: var(--wp--preset--color--white);
			font-weight: var(--wp--custom--font-weight--medium);
		}
	}

    @include respond-to($xlarge, max) {
        padding: 0 20px;
    }
}